bin/

vcpkg/
vcpkg_installed/

__pycache__
.DS_Store

# CLI
CLI/

# ChampSim code
tracer/
test/
docs/
_configuration.mk

branch/
config/
inc/
btb/
replacement/
src/

global.options
module.options
absolute.options 

vcpkg.json
Makefile
config.sh
.csconfig
.clang-tidy
.clang-format

CONTRIBUTING.md 
LICENSE
CITATION.cff
*.bib

# Traces 
*.xz